#p1{
    width: 550px;
    height: 350px;
    filter:blur(5px);
}

#p2{
    width: 550px;
    height: 350px;
}

#p3{
    width: 550px;
    height: 350px;

}
.pp{
    display: flex;
    justify-content: space-around;
}

*{
    background-color:gray;
}

.nn{
   
    text-align: center;
}

#pc{
    text-align: center;
}

#para{
    font-size: medium;
    text-align:initial
}


